<nav class="navbar navbar-expand-lg bg-white fixed-top pt-2">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars xl text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand ms-3" href="#"><img src="../../../assets/img/svg/rast-mobile-logo.svg" alt=""></a>
            <ul class="navbar-nav m-auto mb-2 mb-lg-0 d-flex justify-content-between">
                <app-navbar-item item="Hakkımızda" url="https://www.rastmobile.com/en/about"></app-navbar-item>
                <app-navbar-item item="Juri - Yarışma Yazılımı" url="https://www.rastmobile.com/en/products/jury-competition-software"></app-navbar-item>
                <app-navbar-item item="Word Ninja" url="https://www.rastmobile.com/en/products/word-ninja"></app-navbar-item>
                <app-navbar-item item="Word Pyramids" url="https://www.rastmobile.com/en/products/word-pyramids"></app-navbar-item>
            </ul>
            <div class="d-flex">
                <a target="_blank" href="https://twitter.com/rastmobile"> <i class="fa-brands fa-x-twitter fa-xs text-white me-2 ms-1 mt-2 d-flex justify-content-center align-items-center"></i></a>
                <a target="_blank" href="https://www.instagram.com/mobilerast/"> <i class="fa-brands fa-instagram fa-xs text-white me-2 ms-1 mt-2 d-flex justify-content-center align-items-center"></i></a>
                <a target="_blank" href="https://www.behance.net/rastmobile"> <i class="fa-brands fa-behance fa-xs text-white me-2 ms-1 mt-2 d-flex justify-content-center align-items-center"></i></a>
                <a target="_blank" href="https://www.linkedin.com/company/rastmobile/posts/?feedView=all"> <i class="fa-brands fa-linkedin-in fa-xs text-white me-2 ms-1 mt-2 d-flex justify-content-center align-items-center"></i></a>
                <i class="fa-solid fa-right-from-bracket fa-xs text-white me-2 ms-1 mt-2 d-flex justify-content-center align-items-center" (click)="logout()"></i>
            </div>
        </div>
    </div>
</nav>